<div class="movie-detail">
  <img class="movie-detail__image" src="" alt="Affiche du film">
  <div class="movie-detail__info">
    <h2 class="movie-detail__title"></h2>
    <div class="movie-detail__desc"></div>
    <div class="movie-detail__meta">
      <span class="movie-detail__director"></span> |
      <span class="movie-detail__year"></span> |
      <span class="movie-detail__category"></span> |
      <span class="movie-detail__minage"></span>
    </div>
    <div class="movie-detail__trailer"></div>
  </div>
</div>
