<div class="movie-detail">
  <img class="movie-detail__image" src="{{image}}" alt="Affiche du film" />
  <div class="movie-detail__info">
    <h2 class="movie-detail__title">{{name}}</h2>
    <div class="movie-detail__desc">{{description}}</div>
    <div class="movie-detail__meta">
      Realisateur : <span class="movie-detail__director">{{director}}</span> |
      Annee : <span class="movie-detail__year">{{year}}</span> | Categorie :
      <span class="movie-detail__category">{{category}}</span> | Age min :
      <span class="movie-detail__minage">{{minAge}}</span>
    </div>
    <div class="movie-detail__trailer">{{trailer}}</div>
  </div>
</div>
