<section class="comment-moderation">
  <div class="comment-moderation__header">
    <div>
      <p class="comment-moderation__kicker">Modération des commentaires</p>
      <h2 class="comment-moderation__title">Commentaires en attente</h2>
    </div>
    <button
      id="commentModerationRefreshBtn"
      class="comment-moderation__refresh"
      type="button"
    >
      Actualiser
    </button>
  </div>

  <div id="commentModerationMessage" class="comment-moderation__message"></div>
  <div id="commentModerationList" class="comment-moderation__list"></div>
</section>
